body {
  font-family: sans-serif;
  background-color: #10051f;
  color: #fff;
  prefers-color-scheme: dark;
}
input {
  min-width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 5px;

  mix-blend-mode: difference;
  background-color: #aed2ff;
}
label[for="multipleChannels"] {
  display: inline;
  margin-right: 10px;
}
input[type="checkbox"] {
  min-width: auto;
  display: inline;
}

#messages {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
  max-height: 70vh;
  overflow-y: scroll;
  background-color: #1a0033;
}
#messages p {
  margin-block: 15px;
  margin-inline: 0px;
  word-break: break-all;
}
#messages div.unit:has(input[type="checkbox"]:checked) {
  height: auto;
}
/* #messages div.unit input[type="checkbox"]:checked { */
#messages div.unit label {
  position: sticky;
  top: 0;
  right: 0;
}
#messages div.unit {
  display: block;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 5px 0;
  height: 3rem;
  overflow-y: hidden;

  position: relative;
}
strong {
  color: #9400ff;
}
span.date {
  color: #e4f1ff;
  font-size: 12px;
}
.channels {
  display: grid;
  gap: 10px;
  grid-template: 1fr;
  height: max-content;
  margin-right: 10px;
}
button.channel-btn.active {
  background-color: #9400ff;
  color: #fff;
}
button.channel-btn {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #aed2ff;
  mix-blend-mode: difference;
  height: max-content;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
strong.sticky-channel-name {
  position: sticky;
  top: 0;
  background-color: #1a0033;
  z-index: 1;
  float: right;
  margin-left: -100%;
}
.row-1 {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: space-between;
}

.filter-container {
  display: flex;
  gap: 10px;
}
/* .filter-container textarea {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #aed2ff;
  mix-blend-mode: difference;
  resize: none;
  min-width: 300px;
  min-height: 100px;
} */
.filter-container button {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #aed2ff;
  mix-blend-mode: difference;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button.allow-multiple-channels {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #aed2ff;
  mix-blend-mode: difference;
}

select {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #aed2ff;
  mix-blend-mode: difference;
}

.window {
  display: grid;
  grid-template-columns: 1fr 80vw;
}

@media (max-width: 768px) {
  .window {
    display: grid;
    grid-template-columns: 1fr;
  }
  .channels {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
